/* estilos de antecedentes*/

/*articulo objetivos*/
.antecedentes {
  background: #f0f0f0;
  padding: 40px 20px;
  margin-top: 190px;
}

article {
  max-width: 1200px;
  margin: 20px auto;
  padding: 40px;
  background: #fff;
}

article p {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 300;
  text-align: justify;
}


/*estilos de equipo*/


h2{
  margin: 30px auto;
  
}

.nombre_pers{
background-color: #c2b990;
border-radius: 5px;
margin: 10px;
padding: 10px;
text-align: center;
}
.equipo {
  background: #f0f0f0;
  padding: 40px 20px;
  margin-top: 190px;
  
}

.equipo_iifa{
 max-width: 1200px;
  margin: 20px auto;
  padding: 40px;
  background: #fff;
  
}

.pers_adm{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.pers_dpto_invest{
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  
}

.inf_personal{
  width: 200px;
  height: auto;
  background-color: #257f40;
  border-radius: 5px;
  /* border: 1px solid #4c3c3c; */
}
.inf_personal > img{
  width: 100%;
  border-radius: 50%;
  padding: 10px;
}
h3{
  font-size: 13px;
  color: #282828;
  font-style: italic;
  font-weight: 100;
}
h4{
  font-size: 11px;
  color: #545454;
}

/*para telefono*/

@media (max-width: 720px){

.equipo {
  background: #f0f0f0;
  padding: 10px 10px;
  margin-top: 145px;
  
}

.equipo_iifa{
 max-width: 1200px;
  margin: 30px auto;
  padding: 10px;
  background: #fff;
  
}



 .pers_adm {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  }
.pers_dpto_invest{
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

}


}

@media (max-width: 480px){

.antecedentes {
  background: #f0f0f0;
  padding: 40px 20px;
  margin-top: 175px;
}

.equipo {
   max-width: 480px;
  background: #f0f0f0;
  padding: 10px 10px;
  margin-top: 145px;
  
}

.equipo_iifa{

  margin: 30px auto;
  padding: 10px;
  background: #fff;
  
}

.inf_personal{
  width: 180px;
}

 .pers_adm {
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  }
.pers_dpto_invest{
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
h1{
  font-size: 1.5rem;
}
h2{
  font-size: 1.2rem;
}

}
