main{
    padding-top: 193px;
      line-height: 25px;
}

p{
    font-size: 16px;

    
}

ul{
font-size: 14px;
  
}

img{
    width: 15rem;
}

.lineas{
    margin-left: 19px;
}
.inciso{
    margin-left: 13px;
}

